/*
 * @version		0.5
 * @date Crea	26/04/2013.
 * @date Modif	11/04/2014.
 * @package		css_defaut.css
 * @contact		Chagry.com - git@chagry.com
 */

html 
{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body 
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url("../img/grey.png");
	background-attachment: fixed;
	background-color: #333;
	text-align: center;
}